.header-inner {
  @include flexes(space-between, center);
}

.nav-list {
  @include flexes(space-between, center);
}

.nav-list__item {
  margin: 0 50px;
}

.nav-list__link {
  @include global-text(500, 18px, 29px, $dark-color);
}

.nav-icons {
  @include flexes(space-between, center);
}

.nav-icons__item {
  margin-left: 30px;
}

.nav-icons__search {
  width: 28px;
  height: 28px;
  border: none;
  background-image: url("../../images/search-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  outline: none;
  padding-left: 30px;
  transition: all 1s linear;
}

.nav-icons__search:focus {
  position: relative;
  z-index: 2;
  background-size: contain;
  width: 100px;
  box-shadow: 0 0 10px red;
}